%user-select{
  user-select:none;/*禁止文本选中*/
  -webkit-user-select:none;
  -ms-user-select:none;
  -moz-user-select:none;
}
// .box{
//   @extend %user-select;
// }
/*以下三个都是登录页面login 中的按钮占位符*/
%btn_transition{
    transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
}

%btn{
    width: 40%;
    height: 38px;
    color: #fff;
    background: #E94C37;
    font-weight: bold;
    @extend %btn_transition;
}
%btn_hover{
    color:#fff;
    background:#C11F2E;
    // @extend .btn_transition;
}

/*绝对居中*/
%divCenter_position{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
%div_position{
    position: fixed;
    left: 0;
    top: 0;
}
