//界面主色调变量
$MainColor:#2E363F;
//左侧菜单活跃色
$SidebarActiveLi:#27a9e3;
//登录界面字体
$fontSize:14px;
$color:#666;
$fontFamily:"楷体";
/* 专家知识养殖库*/

//标题border-title变量
$border-title:2px solid #ccc;

/*首页*/
//首页磁贴颜色变量
$tile-pink:#F74D4D;
$tile-blue:#2255A4;
$tile-paleBlue:#27A9E3;
$tile-purple:#A080DE;
