/*  = 指标总览部分 =*/
/*磁贴样式 */
.tile{
    width:100%;
    height:auto;
    color:#fff;
    text-align: center;
    padding:10px 0px 5px;
    font-weight: bold;
    margin:5px 0;
    cursor:pointer;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition: all 0.3s linear;

    & .parameterValue{
        font-size: 26px;
    }
    & .parameter{
        font-size:15px;
    }
    &-pink{
        background-color: $tile-pink;
    }
    &-blue{
        background-color: $tile-blue;
    }
    &-paleBlue{
        background-color: $tile-paleBlue;
    }
    &-purple{
        background-color: $tile-purple;
    }
}
/*  ==========*/
