.bgImg{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}
//调用mixins:center
#loginBox{
    @include center(600px,340px);
    min-width: 600px;
    height: auto;
}
#login_form{
    text-align: center;
    padding:16px 0;
    border:2px solid #333;
    @include border-radius(5px);
    //禁止选中文本
    @extend %user-select;
    box-shadow:2px 2px 20px #111;
//  box-reflect:below 20px linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 50%,rgba(250,250,250,0.5));
//  -webkit-box-reflect:below 20px -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 50%,rgba(250,250,250,0.5));
    &>h3{
        color: #fcfcfc;
        padding-bottom: 10px;
        font-family: $fontFamily;
    }
    & .row{
        color:#FCF8E3;
        font-size:$fontSize;
        
        & label{
            text-align: left;
            font-family: $fontFamily;
        }
    }
}

%common{
    width: 180px;
    height:36px;
    color: $color;
    font-family: $fontFamily;
    font-size: $fontSize;
    padding-left:10px;
    background: #FCFCFC;
    @include border-radius(3px);
}
#text{
    @extend %common;
    margin-left: 10px;
}
#psw{
    @extend %common;
    margin-left: 10px;
}
#validate{
    @extend %common;
    width: 118px;
    
}

#submit{
  //按钮占位符
    @extend %btn;
    @extend %btn_transition;
    &:hover{
        @extend %btn_hover;
    }
}
