@charset "utf-8";
/**
*作者：macanfa
*时间：2016-6-12
*描述：首页样式
**/
hr {
  border-top: 1px solid #D3D3D3;
  width: 97%;
}
/*磁贴样式 */
.tile {
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 10px 0px 5px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}
.tile .parameterValue {
  font-size: 30px;
}
.tile .parameter {
  font-size: 15px;
}
.tile-pink {
  background-color: #F74D4D;
}
.tile-blue {
  background-color: #2255A4;
}
.tile-paleBlue {
  background-color: #27A9E3;
}
.tile-purple {
  background-color: #A080DE;
}
