@charset "UTF-8";
/*变量函数*/
/* 专家知识养殖库*/
/*首页*/
/*分页*/
#login_form, .page {
  user-select: none;
  /*禁止文本选中*/
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none; }

/*以下三个都是登录页面login 中的按钮占位符*/
#submit {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease; }

#submit {
  width: 40%;
  height: 38px;
  color: #fff;
  background: #E94C37;
  font-weight: bold; }

#submit:hover {
  color: #fff;
  background: #C11F2E; }

/*绝对居中*/
#alert1, #alert2, #load .loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

#load {
  position: fixed;
  left: 0;
  top: 0; }

.whiteCard {
  background-color: #fff;
  margin: 0 1%; }

/* = 全局样式 = */
* {
  outline: none !important;
  -moz-outline: none !important; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  margin-top: -10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
  background: #2E363F; }

a {
  color: #666; }
  a:hover, a:focus {
    text-decoration: none;
    color: #74E3F2; }

hr {
  border-top: 1px solid #D3D3D3;
  width: 97%; }

#content {
  margin-left: 220px;
  margin-right: 0;
  width: auto;
  background: #eee;
  min-height: 100%;
  padding-bottom: 25px; }

#content-header {
  width: 100%;
  margin-top: -37px; }
  #content-header h2 {
    margin-left: 15px; }

/* = 头部logo部分 = */
#header {
  height: 77px;
  position: relative;
  width: 100%;
  z-index: -9;
  background-color: #2E363F;
  margin-top: -20px; }
  #header h1 {
    height: 40px;
    width: 190px;
    background: url("../images/logo.png") no-repeat;
    background-position: center;
    line-height: 20px;
    text-indent: -999px;
    overflow: hidden;
    position: relative;
    top: 26px;
    left: 20px; }
  #header a {
    font-size: 16px;
    color: #fff;
    font-weight: bold; }

/* ========== */
#user-nav {
  position: absolute;
  left: 220px;
  top: 0;
  margin: 0;
  min-height: auto;
  background: #2E363F;
  border: none;
  /*兼容IE*/ }
  #user-nav .nav > li > a:hover, #user-nav .nav > li > a:focus, #user-nav .nav .open > a, #user-nav .nav .open > a:hover, #user-nav .nav .open > a:focus {
    background-color: #000000;
    color: #fff; }
  #user-nav .navbar-collapse {
    padding: 0; }
  #user-nav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  #user-nav .navbar-toggle {
    padding: 11px 10px;
    margin: 0px;
    float: none;
    /*兼容IE*/
    padding-top: 4px\0;
    padding-bottom: 4px\0; }
  #user-nav .navbar-nav {
    margin: 0; }
  #user-nav .navbar-nav > li > a {
    line-height: 0\0; }
  #user-nav > ul {
    margin: 0;
    padding: 0;
    border-right: 1px solid #2e363f;
    border-left: 1px solid #000; }
    #user-nav > ul > li {
      float: left;
      border-right: 1px solid #000; }

#sidebar {
  display: block;
  float: left;
  position: relative;
  width: 220px;
  z-index: 16; }
  #sidebar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 220px;
    border-bottom: 1px solid #37414b; }
    #sidebar > ul > li {
      position: relative;
      border-top: 1px solid #37414b;
      border-bottom: 1px solid #1f262d;
      cursor: pointer; }
      #sidebar > ul > li:first-child {
        border-top: 0; }
      #sidebar > ul > li:last-child {
        border-bottom: 0; }
      #sidebar > ul > li > a {
        display: block;
        padding: 10px 0 10px 15px;
        color: #939da8;
        position: relative; }
        #sidebar > ul > li > a:hover {
          background: #27a9e3;
          color: #fff; }
        #sidebar > ul > li > a > i {
          margin-right: 10px; }
        #sidebar > ul > li > a .label {
          margin-right: 20px; }
      #sidebar > ul > li ul {
        background: #1e242b;
        list-style: none;
        margin: 0;
        padding: 0;
        display: none; }
        #sidebar > ul > li ul li a {
          padding: 10px 0px 10px 30px;
          display: block;
          color: #ccc; }
          #sidebar > ul > li ul li a:hover {
            background: #6FC6F0;
            color: #fff; }
      #sidebar > ul > li.open ul {
        display: block; }
    #sidebar > ul > li.active {
      background: #27a9e3;
      border-bottom: 1px solid #27a9e3;
      border-top: 1px solid #27a9e3; }
      #sidebar > ul > li.active > a {
        color: #fff;
        /*右箭头制作*/ }
        #sidebar > ul > li.active > a:after {
          content: '';
          display: inline-block;
          width: 0px;
          height: 0px;
          overflow: hidden;
          border: 7px solid #EDEDED;
          border-color: transparent #EDEDED transparent transparent;
          position: absolute;
          top: 50%;
          right: 0px;
          margin-top: -7px; }

#footer {
  text-align: center;
  padding-top: 10px;
  color: #ccc; }

/*  = 指标总览部分 =*/
/*磁贴样式 */
.tile {
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 10px 0px 5px;
  font-weight: bold;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .tile .parameterValue {
    font-size: 26px; }
  .tile .parameter {
    font-size: 15px; }
  .tile-pink {
    background-color: #F74D4D; }
  .tile-blue {
    background-color: #2255A4; }
  .tile-paleBlue {
    background-color: #27A9E3; }
  .tile-purple {
    background-color: #A080DE; }

/*  ==========*/
.bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#loginBox {
  width: 600px;
  height: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -300px;
  min-width: 600px;
  height: auto; }

#login_form {
  text-align: center;
  padding: 16px 0;
  border: 2px solid #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 20px #111; }
  #login_form > h3 {
    color: #fcfcfc;
    padding-bottom: 10px;
    font-family: "楷体"; }
  #login_form .row {
    color: #FCF8E3;
    font-size: 14px; }
    #login_form .row label {
      text-align: left;
      font-family: "楷体"; }

#text, #psw, #validate {
  width: 180px;
  height: 36px;
  color: #666;
  font-family: "楷体";
  font-size: 14px;
  padding-left: 10px;
  background: #FCFCFC;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

#text {
  margin-left: 10px; }

#psw {
  margin-left: 10px; }

#validate {
  width: 118px; }

.titlebar {
  line-height: 40px;
  padding: 1% 0px;
  margin-bottom: 1%;
  border-bottom: 2px solid #ccc; }
  .titlebar .btn-group {
    margin: 2px; }

/*用户管理样式*/
.table_list {
  background: #fff;
  margin: 0 1%; }

#user_list {
  position: relative; }

.list_delete {
  margin-bottom: 10px; }

.edit {
  text-align: center;
  z-index: 1; }
  .edit .edit_message {
    z-index: 2; }

#search {
  cursor: pointer; }

#alert1, #alert2 {
  width: 200px;
  height: 50px;
  text-align: center;
  z-index: 999; }

#load {
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3); }
  #load .loading {
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    line-height: 80px; }

.warning {
  background: #F5F0F0;
  margin: 0 1%; }

/**
* CSS themes for simplePagination.js
*/
.page {
  width: 100%;
  height: auto;
  text-align: right; }

.simple-pagination {
  display: inline-block;
  overflow: hidden;
  padding: 15px 0;
  margin: 0 auto; }
  .simple-pagination li {
    list-style: none;
    float: left; }

/*------------------------------------*\
    Light Theme Styles
\*------------------------------------*/
.light-theme a, .light-theme span {
  float: left;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 4px 12px;
  margin-right: 5px; }
.light-theme a:hover {
  text-decoration: none;
  background: #EEE;
  color: #666; }
.light-theme .current {
  background: #428BCA;
  padding: 4px 12px;
  border: none;
  color: #FFF;
  cursor: pointer; }

.deviceTile {
  color: #666;
  font-weight: bolder; }

.deviceDataTable h5 {
  font-size: 25px; }

/*平板设计*/
@media screen and (max-width: 992px) {
  body {
    background: #2E363F; }

  #header h1 {
    top: 0px;
    left: 44px; }

  #sidebar {
    width: 43px; }
    #sidebar > ul {
      width: 43px;
      display: block;
      position: absolute;
      height: 100%;
      z-index: 1; }
    #sidebar > ul > li {
      float: none; }
      #sidebar > ul > li:hover ul {
        display: block; }
    #sidebar > ul > li > a > span {
      display: none; }
    #sidebar > ul ul {
      display: none;
      position: absolute;
      left: 43px;
      top: 0;
      min-width: 150px;
      list-style: none; }
      #sidebar > ul ul li a {
        white-space: nowrap;
        padding: 10px 25px; }

  #content {
    margin-left: 43px; } }
