@charset "utf-8";
/**
*作者：macanfa
*时间：2016-6-12
*描述：首页样式
**/
/* ========== */
/* = 全局样式 = */
* {
  outline: none !important;
  -moz-outline: none !important;
}
html,
body {
  height: 100%;
}
/* Main */
body {
  overflow-x: hidden;
  margin-top: -10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
  background: #2e363f;
}
a {
  color: #666;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #74E3F2;
}
/* ========== */
/* ========== */
/* = 头部logo部分 = */
#header {
  height: 77px;
  position: relative;
  width: 100%;
  z-index: -9;
  background-color: #2e363f;
  margin-top: -20px;
}
#header h1 {
  height: 31px;
  width: 191px;
  line-height: 20px;
  text-indent: 1em;
  position: relative;
  top: 26px;
  left: 20px;
}
#header a {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
/* ========== */
#user-nav {
  position: absolute;
  left: 220px;
  top: 0;
  margin: 0;
  min-height: auto;
  background: #2e363f;
  border: none;
  /*兼容IE*/
}
#user-nav .nav > li > a:hover,
#user-nav .nav > li > a:focus,
#user-nav .nav .open > a,
#user-nav .nav .open > a:hover,
#user-nav .nav .open > a:focus {
  background-color: #000000;
  color: #fff;
}
#user-nav .navbar-collapse {
  padding: 0;
}
#user-nav .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
#user-nav .navbar-toggle {
  padding: 11px 10px;
  margin: 0px;
  float: none;
  /*兼容IE*/
  padding-top: 4px\0;
  padding-bottom: 4px\0;
}
#user-nav .navbar-nav {
  margin: 0;
}
#user-nav .navbar-nav > li > a {
  line-height: 0\0;
}
#user-nav > ul {
  margin: 0;
  padding: 0;
  border-right: 1px solid #2e363f;
  border-left: 1px solid #000;
}
#user-nav > ul > li {
  float: left;
  border-right: 1px solid #000;
}
#search {
  position: absolute;
  top: 8px;
  right: 10px;
}
#search input[type=text] {
  padding: 4px 10px 5px;
  border: 0;
  width: 100px;
}
#search button {
  border: 0;
  margin-left: -6px;
  padding: 4px 15px 5px;
  background-color: #8DC8FB;
  color: #fff;
}
#sidebar {
  display: block;
  float: left;
  position: relative;
  width: 220px;
  z-index: 16;
}
#sidebar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 220px;
  border-bottom: 1px solid #37414b;
}
#sidebar > ul > li {
  position: relative;
  border-top: 1px solid #37414b;
  border-bottom: 1px solid #1f262d;
  cursor: pointer;
}
#sidebar > ul > li:first-child {
  border-top: 0;
}
#sidebar > ul > li:last-child {
  border-bottom: 0;
}
#sidebar > ul > li > a {
  display: block;
  padding: 10px 0 10px 15px;
  color: #939da8;
  position: relative;
}
#sidebar > ul > li > a:hover {
  background: #27a9e3;
  color: #fff;
}
#sidebar > ul > li > a > i {
  margin-right: 10px;
}
#sidebar > ul > li > a .label {
  margin-right: 20px;
}
#sidebar > ul > li ul {
  background: #1e242b;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
#sidebar > ul > li ul li a {
  padding: 10px 0px 10px 30px;
  display: block;
  color: #ccc;
}
#sidebar > ul > li ul li a:hover {
  background: #6FC6F0;
  color: #fff;
}
#sidebar > ul > li.open ul {
  display: block;
}
#sidebar > ul > li.active {
  background: #27a9e3;
  border-bottom: 1px solid #27a9e3;
  border-top: 1px solid #27a9e3;
}
#sidebar > ul > li.active > a {
  color: #fff;
  /*右箭头制作*/
}
#sidebar > ul > li.active > a:after {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border: 7px solid #EDEDED;
  border-color: transparent #EDEDED transparent transparent;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -7px;
}
#content {
  margin-left: 220px;
  margin-right: 0;
  width: auto;
  background: #eee;
  min-height: 100%;
  padding-bottom: 25px;
}
#content-header {
  width: 100%;
  margin-top: -37px;
}
#content-header h2 {
  margin-left: 15px;
}
#footer {
  text-align: center;
  padding-top: 10px;
  color: #ccc;
}
/*平板设计*/
@media screen and (max-width: 992px) {
  body {
    background: #2e363f;
  }
  #header h1 {
    top: 6px;
    left: 35px;
  }
  #sidebar {
    width: 43px;
  }
  #sidebar > ul {
    width: 43px;
    display: block;
    position: absolute;
    height: 100%;
    z-index: 1;
  }
  #sidebar > ul > li {
    float: none;
  }
  #sidebar > ul > li:hover ul {
    display: block;
  }
  #sidebar > ul > li > a > span {
    display: none;
  }
  #sidebar > ul ul {
    display: none;
    position: absolute;
    left: 43px;
    top: 0;
    min-width: 150px;
    list-style: none;
  }
  #sidebar > ul ul li a {
    white-space: nowrap;
    padding: 10px 25px;
  }
  #content {
    margin-left: 43px;
  }
}
